* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: gainsboro;
}

.music-container {
    display: flex;
    justify-content: center;
}
.card {
    border: 5px solid rgb(110, 16, 16);
    background-color: white;
    width: 220px;
    height: 400px;
    margin: 10px;
}
.album-cover {
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    
}

